.perfil-card {
border: 1px solid #ddd;
border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 00.1);
    background-color: aliceblue;
}

.perfil-card h2 {
    margin-top: 0;
    color: #333
}

.perfil-card p {
margin: 8px 0;
color: #666;
}